<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p><b>_id: </b><%=chat._id%></p>
  <p><b>From: </b><%=chat.from%></p>
  <p><b>to: </b><%=chat.to%></p>
  <p><b>message: </b><%=chat.message%></p>
  <p><b>created_at: </b><%=chat.created_at%></p>
</body>
</html>